@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  /* background:#262626; */
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg_app.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

.card{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.card-body{
    background-color: transparent;
}

.carousel-inner{
    background-color: transparent;
}
.carousel-indicators button{
    margin-right: 5px;
    width: 10px;
    height: 12px;
    border-radius: 50%;
    border: none;
    transition: .3s;
}
.carousel-indicators button.active{
    background-color: #057dcd;
}

.vh-75{
    min-height: 75vh;
}

.ms {
  margin-left: 4em;
}

.danger {
  background: rgb(167, 9, 49);
  background: linear-gradient(
    152deg,
    rgba(167, 9, 49, 0.75) 0%,
    rgba(176, 4, 53, 0.75) 87%,
    rgba(159, 2, 34, 0.75) 87%
  );
}
.warning {
  background: rgb(227, 224, 0);
  background: linear-gradient(
    152deg,
    rgba(227, 223, 0, 0.75) 0%,
    rgba(222, 223, 0, 0.75) 87%,
    rgba(197, 198, 0, 0.75) 87%
  );
}
.success {
  background: rgb(0, 198, 3);
  background: linear-gradient(
    152deg,
    rgba(0, 198, 3, 0.75) 0%,
    rgba(6, 184, 2, 0.75) 87%,
    rgba(8, 221, 0, 0.75) 87%
  );
}
.primary {
  color: azure;
  background: rgb(36, 102, 241);
  background: linear-gradient(
    157deg,
    rgba(36, 102, 241, 0.8911939775910365) 0%,
    rgba(55, 38, 246, 1) 46%,
    rgba(35, 32, 223, 1) 100%
  );
}

#area_name {
  border: 3px solid #88b050;
  padding: 0.2em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  border-top-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  text-shadow: 0 0 10px rgba(165, 197, 77, 0.7);
  box-shadow: 0 0 20px rgba(165, 197, 77, 0.4);
  font-weight: 500;
}

.baris-satu {
  border: 3px solid rgba(165, 197, 77, 0.5);
}

.baris-dua {
  border: 3px solid #057dcd;
  margin-right: 0.3rem !important;
}

.mp-name {
  font-family: "Orbitron", sans-serif;
}

#switch {
  bottom: 5%;
  left: 85%;
  width: 75px;
  height: 40px;
}

.toggle {
  position: absolute;
  border: 2px solid #f5f3fa;
  border-radius: 20px;
  -webkit-transition: border-color 0.6s ease-out;
  transition: border-color 0.6s ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on {
  border-color: #f5f3fa;
  -webkit-transition: all 0.5s 0.15s ease-out;
  transition: all 0.5s 0.15s ease-out;
}

.toggle-button {
  position: absolute;
  top: 4px;
  width: 28px;
  bottom: 4px;
  right: 39px;
  background-color: #f5f3fa;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
  transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
}

.toggle-on .toggle-button {
  top: 3px;
  width: 65px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: rgb(26, 165, 28);
  box-shadow: 0 0 16px rgb(49, 161, 51);
  -webkit-transition: all 0.2s 0.1s, right 0.1s;
  transition: all 0.2s 0.1s, right 0.1s;
}

.toggle-text-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 36px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  color: rgba(0, 0, 0, 0);
}

.toggle-on .toggle-text-on {
  color: #f5f3fa;
  -webkit-transition: color 0.3s 0.15s;
  transition: color 0.3s 0.15s;
}

.toggle-text-off {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  line-height: 36px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  cursor: pointer;

  color: #f5f3fa;
}

.toggle-on .toggle-text-off {
  color: rgba(0, 0, 0, 0);
}

/* used for streak effect */
.glow-comp {
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, 0.1);
  box-shadow: 0 0 12px rgba(75, 122, 141, 0.2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
